.all-bails-view {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.all-bails-view vaadin-split-layout {
  width: 100%;
  height: 100%;
}

.all-bails-view vaadin-grid {
  height: 100%;
}

.all-bails-view .editor-layout {
  display: flex;
  flex-direction: column;
  width: 400px;
}

.all-bails-view .editor {
  flex-grow: 1;
  padding: var(--lumo-space-l);
}

.all-bails-view .editor vaadin-checkbox {
  padding-top: var(--lumo-space-m);
}

.all-bails-view .button-layout {
  width: 100%;
  flex-wrap: wrap;
  background-color: var(--lumo-contrast-5pct);

  gap: var(--lumo-space-m);
}

.all-bails-view .grid-wrapper {
  width: 100%;
}
